<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
	<Appenders>
		<Console name="console">
			<JsonLayout complete="false" compact="true">
				<KeyValuePair key="type" value="$${ctx:type}" />
				<KeyValuePair key="timestamp" value="$${ctx:timestamp}" />
				<KeyValuePair key="start_stop" value="" />
				<KeyValuePair key="component" value="tng-sla-mgmt" />
				<KeyValuePair key="operation" value="$${ctx:operation}" />
				<KeyValuePair key="status" value="$${ctx:status}" />
				<KeyValuePair key="time_elapsed" value="" />
			</JsonLayout>
		</Console>

	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="console" level="info" />

		</Root>
	</Loggers>
</Configuration>