<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<!-- Console Appender -->
		<Console name="SLAM_JSON_Appender" target="SYSTEM_OUT">
			<JsonLayout>
				<KeyValuePair key="type" value="$${ctx:type}" />
				<KeyValuePair key="timestamp" value="$${ctx:timestamp}" />
				<KeyValuePair key="start_stop" value="" />
				<KeyValuePair key="component" value="tng-sla-mgmt" />
				<KeyValuePair key="operation" value="$${ctx:operation}" />
				<KeyValuePair key="status" value="$${ctx:status}" />
				<KeyValuePair key="time_elapsed" value="" />
			</JsonLayout>
		</Console>
	</Appenders>
	<Loggers>
		<!-- SLAM Logger with  JSON Appender-->
		<root level="trace" additivity="false">
			<AppenderRef ref="SLAM_JSON_Appender" />
		</root>
	</Loggers>
</Configuration>